@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
    --bannerBorderColor: #ced6e0;
    --whiteColor: #fff;
    --bannerFont: "Inter", sans-serif;
    --cookieInfoBg: #f1f2f6;
    --healineFontSize: 14px;
    --headlineColor: #000000c4;
    --headlineLineHeight: 24px;
    --headlineWeight: 600;
    --descriptionFontSize: 13px;
    --desciptionColor: #444;
    --descriptionLineHeight: 24px;
    --descriptionWeight: 400;
    --buttonFontSize: 13px;
    --buttonLineHeight: 24px;
    --buttonWeight: 600;
    --buttonRadius: 10px;
    --buttonBackground: var(--whiteColor);
    --buttonColor: #000000c4;
    --normalButtonHoverBackground: var(--secondAccent);
    --normalButtonHoverColor: var(--whiteColor);
    --activeButtonBackground: var(--accentColor);
    --activeButtonColor: var(--whiteColor);
    --activeButtonHoverBackgroud: #f46d2e;
    --activeButtonHoverColor: #000;
    --accentColor: #f46d2e;
    --secondAccent: #d34b0c;
}
.activeFlex {
    display: flex !important;
}
.hideElement {
    display: none !important;
}
.consentBannerWrapper,
.consentBannerWrapper * {
    margin: 0;
    padding: 0;
}
.consentBannerWrapper {
    border: 1px solid var(--bannerBorderColor);
    width: 750px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: var(--bannerFont);
    box-shadow:
        rgba(14, 30, 37, 0.12) 0 2px 4px 0,
        rgba(14, 30, 37, 0.32) 0 2px 16px 0;
    background-color: var(--whiteColor);
    animation: opacity 0.5s forwards;
}
.consentBannerBG {
    background: #00000030;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.bannerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
}
.bannerLogo {
    width: 80px;
    display: flex;
    align-items: center;
}
.bannerLogo img {
    width: 100%;
}
.closeBanner {
    display: none;
    cursor: pointer;
}
.closeBanner svg {
    width: 16px;
}
.bannerNavWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.bannerNavWrapper .nav {
    width: 100%;
    cursor: pointer;
    padding: 15px 0;
    border-top: 1px solid var(--bannerBorderColor);
    border-bottom: 1px solid var(--bannerBorderColor);
    position: relative;
}
.navActiveBorder::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--accentColor);
}
.bannerContentWrapper .content {
    display: none;
    flex-direction: column;
    padding: 15px 0;
    animation: opacity 0.5s;
    height: auto;
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 10px !important;
}
.cookieContentWrapper {
    display: flex;
    row-gap: 10px;
    height: auto;
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 10px !important;
}
.bannerContentWrapper .content::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}
.bannerContentWrapper .content::-webkit-scrollbar-thumb {
    background-color: var(--accentColor);
    border-radius: 10px;
}
.bannerContentWrapper .content::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}
.bannerCategory {
    border-bottom: 1px solid var(--bannerBorderColor);
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.arrow {
    width: 18px;
    margin-right: 5px;
}
.rotate {
    transform: rotate(180deg);
}
.cookieTotal {
    background: var(--accentColor);
    margin-left: 5px;
    color: var(--whiteColor);
    font-size: 10px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.cookieContentWrapper:last-child {
    border-bottom: none;
}
.categoryHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.allProviderWrapper {
    display: none;
    flex-direction: column;
    row-gap: 10px;
}
.categoryName {
    cursor: pointer;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cookiesProviderWrapper {
    display: flex;
    border: 1px solid var(--bannerBorderColor) !important;
    border-radius: 10px;
    flex-direction: column;
    padding: 15px 18px;
    row-gap: 5px;
}
.cookieInfoHeader {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.providerName {
    width: 100%;
    display: flex;
    align-items: center;
}
.cookieInfoHeader:first-child {
    display: flex;
    align-items: center;
}
.allCookieInfoWrapper {
    display: none;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
}
.cookieInfoWrapper {
    padding: 15px;
    border-radius: 10px;
    background: var(--cookieInfoBg);
}
.cookieBorder {
    border: 1px solid var(--bannerBorderColor);
    margin: 10px 0;
}
.cookieOtherInfo {
    display: flex;
    flex-direction: column;
}
.learnMoreWrapper a {
    color: var(--accentColor);
    font-size: var(--descriptionFontSize);
    text-decoration: underline;
}
.noCookie {
    background-color: var(--cookieInfoBg);
    padding: 15px;
    border-radius: 10px;
    color: var(--desciptionColor);
    font-size: var(--descriptionFontSize);
}
.bannerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
    border-top: 1px solid var(--bannerBorderColor);
    padding-top: 15px;
}
.btnShadow {
    box-shadow:
        rgb(243 243 243) 0px -20px 25px 0,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.bannerButtons button {
    flex: 1;
    padding: 15px;
    outline: none;
    font-family: var(--bannerFont);
    cursor: pointer;
    border-radius: var(--buttonRadius);
    border: none;
    font-size: var(--buttonFontSize);
    color: var(--buttonColor);
    font-weight: var(--buttonWeight);
    border: 1px solid var(--bannerBorderColor);
    background: white;
}
.bannerButtons button:hover {
    background: var(--normalButtonHoverBackground) !important;
    color: var(--normalButtonHoverColor) !important;
}
.btnActive {
    background: var(--activeButtonBackground) !important;
    color: var(--activeButtonColor) !important;
}
.btnActive:hover {
    background: var(--activeButtonHoverBackgroud) !important;
    color: var(--activeButtonHoverColor) !important;
}
.bannerHeadline {
    font-size: var(--healineFontSize) !important;
    line-height: var(--headlineLineHeight);
    color: var(--headlineColor);
    font-weight: var(--headlineWeight) !important;
}
.bannerDescription {
    font-size: var(--descriptionFontSize);
    line-height: var(--descriptionLineHeight);
    color: var(--desciptionColor);
    font-weight: var(--descriptionWeight);
}
.consentBannerSwitch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 28px;
}
.consentBannerSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.consentSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.consentSlider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked + .consentSlider {
    background-color: var(--accentColor);
}
input:focus + .consentSlider {
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .consentSlider:before {
    transform: translateX(16px);
}
.consentSlider.round {
    border-radius: 34px;
}
.consentSlider.round:before {
    border-radius: 50%;
}
.miniIcon {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    border: 2px solid var(--accentColor);
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 9999;
    background: var(--whiteColor);
    left: 20px;
    bottom: 20px;
    margin-top: -25px;
}
.miniIcon svg {
    fill: var(--accentColor);
}
.blur {
    filter: blur(1px);
}
.divLoader {
    border: 4px solid var(--accentColor);
    border-top: 4px solid var(--whiteColor);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: consentBannerLoader 1s linear infinite;
    display: none;
}
.addBlur {
    filter: blur(1px);
}
.consentPPLinkWrapper {
    margin-top: 10px;
}
.consentPPLink {
    color: var(--accentColor);
    text-decoration: underline;
    text-decoration-color: var(--accentColor);
}
@keyframes consentBannerLoader {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (max-width: 800px) {
    .consentBannerWrapper {
        width: 85%;
    }
}
@media screen and (max-width: 600px) {
    .bannerButtons {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        row-gap: 10px;
        border-top: 1px solid var(--bannerBorderColor);
        padding-top: 15px;
    }
    .categoryToggle {
        transform: scale(0.8);
    }
}
@media screen and (max-width: 600px) {
    :root {
        --healineFontSize: 13px;
        --headlineLineHeight: 24px;
        --headlineWeight: 600;
        --descriptionFontSize: 12px;
        --buttonRadius: 5px;
    }
    .bannerCategory {
        row-gap: 0;
    }
    .noCookie {
        margin-top: 10px;
    }
    .bannerContentWrapper .content {
        display: none;
        flex-direction: column;
        padding: 15px 0;
        animation: opacity 0.5s;
        height: auto;
        max-height: 30vh;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-right: 5px !important;
    }
}
